.web-page-annotator-highlight {
    background-color: yellow !important;
    outline: 3px solid orange !important;
}

.web-page-annotator-selected {
    background-color: green !important;
    outline: 1px solid red !important;
}
