#controls {
    padding: 10px;
}

.url-chip {
    width: 20em;
    text-align: center;
    margin: 2px;
    vertical-align: top;
    overflow-x: hidden;
    white-space: nowrap;
}

.label-dropdown {
    position: absolute;
}

.selected-label {
    font-weight: bolder;
    border-bottom: 1px dotted;
}

#workspace-settings {
    display: block;
    position: absolute;
    top: 100px;
}

#child-page-prefetch {
    position: absolute;
    z-index: -1;
}