#controls {
    padding: 10px;
}

.url-chip {
    width: 20em;
    text-align: center;
    margin: 2px;
}

.label-dropdown {
    position: absolute;
}

.selected-label {
    font-weight: bolder;
    text-decoration: underline; /* TODO - dotted */
}