<!DOCTYPE html>
<html>
<head>
    <link href="{{ static_url('css/materialicons.css') }}" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/materialize.min.css') }}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/style.css') }}" media="screen,projection"/>
    <script src="{{ static_url('js/react.min.js') }}"></script>
    <script src="{{ static_url('js/react-dom.min.js') }}"></script>
    <script src="{{ static_url('js/babel-core.5.8.38-browser.min.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<div id="app"></div>

<script type="text/javascript" src="{{ static_url('js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/materialize.min.js') }}"></script>
<script type="text/javascript">
    var URLS = {
        ws_list: "{{ reverse_url('ws_list') }}"
    };
</script>
<script type="text/babel" src="{{ static_url('js/app.jsx') }}"></script>

</body>
</html>

